<footer>
    <div id="footer">
        <hr>
        <div class="footer-box">
            <div class="footer-info">
                <p>TIME INFO</p>
                <p>AM 11:00 ~ PM 22:00 </p>
                <p>AM 11:00 ~ PM 22:00(lanch) </p>
                <p>SAT.SUN.HOLIDAY OFF</p>
            </div>
            <div class="footer-info">
                <p>COMPANY INFO</p>
                <p>COMPANY : 순양(SOON YANG) | CEO : 김도현, 이 훈, 이호택, 임승채</p>
                <p>BUSINESS LICENCE : [111-111-1111]</p>
                <p>ADDRESS : 서울특별시 구로구 디지털로 306(구로동, 대륭포스트타워 2차)</p>
                <p>PHONE : 010-8282-8282 | FAX : 02-838-1691 | MAIL : abc123@naver.com </p>
            </div>
        </div>
    </div>
</footer>
